<ion-view view-title="Items">
  <ion-content>
    <button class="button button-full button-positive" ng-click="openModal()">Add Item</button>
    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="item in items track by $index" class="item item-thumbnail-left"
                href="#/tab/locations/{{item.location_id}}/items/{{item.id}}/reviews">
        <cl-image public-id="{{item.thumbnail}}" class="display-image" format="jpg">
          <cl-transformation height="100" width="100" crop="fill"/>
        </cl-image>
        <h2>{{item.name}}</h2>
        <p>{{item.description | limitTo:45}}</p>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>


    <script id="add-item.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Add Item</h1>
        </ion-header-bar>
        <ion-content class="padding">
          <!--<form ng-submit="submitForm()" class="form-horizontal">-->
          <div class="list">

            <label class="item item-input">
              <input type="text" placeholder="Name" ng-model="item.name">
            </label>

            <label class="item item-input">
              <textarea class="form-control" rows="3" ng-model="item.description"
                        placeholder="Description..."></textarea>
            </label>

            <button type="button" class="button button-positive" data-dismiss="modal" ng-click="closeModal()">Cancel
            </button>
            <button type="button" class="button button-positive" data-toggle="modal" id="submit-location"
                    ng-click="createLocation()">Add
            </button>
            <!--</form>--></div>
        </ion-content>
      </ion-modal-view>

    </script>

  </ion-content>
</ion-view>
