<ion-view view-title="Items">
  <ion-content>
    <button class="button button-full button-positive" ng-click="openModal()">Add Item</button>
    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="item in items track by $index" class="item item-thumbnail-left" href="#/tab/locations/{{item.location_id}}/items/{{item.id}}/reviews">
        <cl-image public-id="{{item.thumbnail}}" class="display-image" format="jpg">
          <cl-transformation height="100" width="100" crop="fill"/>
        </cl-image>
        <h2>{{item.name}}</h2>
        <p>{{item.description | limitTo:45}}</p>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
