<ion-view view-title="Locations">
  <ion-content>
    <button class="button button-full button-positive" ng-click="openModal()">Add Location</button>
    <ion-list can-swipe="listCanSwipe">
      <ion-item ng-repeat="location in locations track by $index" class="item item-thumbnail-left" href="#/tab/locations/{{location.id}}/items">
        <cl-image public-id="{{location.thumbnail}}" class="display-image" format="jpg">
          <cl-transformation height="100" width="100" crop="fill"/>
        </cl-image>
        <h2>{{location.name}}</h2>
        <p>{{location.city}}, {{location.state}}</p>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="buttons">
      <button class="button" ng-click="openModal()">Left Button</button>
    </div>
  </ion-content>
</ion-view>





